<div class="card">
    <a href=""> <img src="{% static 'static/subject/icon-html.svg' %}" alt="HTML"> </a>
    <h2> HTML </h2>
  </div>
  <div class="card">
    <a href=""> <img src="{% static 'static/include/subject/icon-css.svg' %}" alt="CSS"> </a>
    <h2> CSS </h2>
  </div>
  <div class="card">
    <a href=""> <img src="{% static 'static/include/subject/icon-js.svg' %}" alt="JavaScript"> </a>
    <h2> JavaScript </h2>
  </div>
  <div class="card">
    <a href=""> <img src="{% static 'static/include/subject/icon-accessibility.svg' %}" alt="Accessibility"> </a>
    <h2> Accessibility </h2>
</div>
